.Profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    padding: 0px 10px; 
    height: 50px;
    width: 92%;
}

.Profile_body {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.Profile:hover {
    background-color: #f5f8fa;
    cursor: pointer;
    border-radius: 30px;
}