.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.1s ease-out;
    margin-bottom: 5px;
    height: 50px;
    width: 90%;
}

.sidebarOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
}

.sidebarOption > .MuiSvgIcon-root {
    padding-right: 10px;
    padding-left: 10px;
}

.sidebarOptioin > h2 {
    font-size: 20px;
    margin-right: 20px;
    font-weight: 800;
}

.sidebarOption_active {
    color: var(--twitter-color);
}